{% extends 'base.html' %}

{% block content %}
  {% url "event:list" as event_list_url %}
  {% url "event:detail" event.pk event.slug as event_detail_url %}
  {% include "breadcrumb.html" with current="Suppression" second_parent_url=event_list_url second_parent_text="Évènements" first_parent_url=event_detail_url first_parent_text=event %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        Suppression de '{{ event }}'
      </h1>
    </div>
  </div>
  <section class="container">
    <p>
      <i class="fa fa-exclamation-triangle"></i>
      Vous êtes sur le point de supprimer l'évènement <code>'{{ event }}'</code> organisé par <code>'{{ event.organization }}'</code>. Êtes-vous certain de votre choix ?
    </p>
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-danger" type="submit">
        <i class="fa fa-trash"></i>
        Oui je suis sûr
      </button>
      <a class="btn btn-success" href="{% url 'event:detail' event.pk event.slug %}">
        <i class="fa fa-arrow-left"></i>
        Non, revenir
      </a>
    </form>
  </section>
{% endblock %}
