{% load app_filters bootstrap4 %}

{% if admin_text or not request.user.is_authenticated %}
  <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#reservation{{ event.pk }}">
  {% if admin_text %}
  <i class="fa fa-plus"></i>
    {{ admin_text }}
  {% else %}
    Je participe !
  {% endif %}
  </button>
  <div class="modal" id="reservation{{ event.pk }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Réserver</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'user:create_and_book' %}?event={{ event.pk }}" method="post">
          <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form form=register_form %}
          </div>
          <div class="modal-footer">
            <input type="submit" value="Réserver" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>
{% else %}
  {% if request.user in event.registered.all %}
    {% tokenize user=request.user event=event action='cancel' as tok %}
    <a href="{% url 'event:cancel_reservation' tok %}" class="btn btn-warning btn-sm">Je ne participe plus</a>
  {% elif request.user not in event.presents.all and request.user not in event.organizers.all %}
    {% tokenize user=request.user event=event action='book' as tok %}
    <a href="{% url 'event:book' tok %}" class="btn btn-success btn-sm">Je participe !</a>
  {% endif %}
{% endif %}
