{% extends 'base.html' %}

{% block content %}

<div class="secondary-background">

    {% if user.is_authenticated %}
   
    {% else %}

    <div class="container-fluid">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid" src="http://via.placeholder.com/350x120" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Titre</h5>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro id explicabo? Voluptatem deleniti veniam perferendis aperiam ipsum dignissimos ut doloribus temporibus nemo sit consectetur, facilis illo dolorem assumenda laboriosam?</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="http://via.placeholder.com/350x120" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Titre</h5>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro id explicabo? Voluptatem deleniti veniam perferendis aperiam ipsum dignissimos ut doloribus temporibus nemo sit consectetur, facilis illo dolorem assumenda laboriosam?</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="http://via.placeholder.com/350x120" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Titre</h5>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro id explicabo? Voluptatem deleniti veniam perferendis aperiam ipsum dignissimos ut doloribus temporibus nemo sit consectetur, facilis illo dolorem assumenda laboriosam?</p>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
          </div>

    {% endif %}


</div>
{% endblock %}
