{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
  {% url 'login' as login_url %}
  {% include "breadcrumb.html" with current="Demande de réinitialisation de mot de passe" first_parent_url=login_url first_parent_text="Connexion" %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Demande de mot de passe</h1>
  </div>
</div>

<section class="container">

  <p>
    Veuillez renseigner votre email de connexion pour que l'on puisse vous envoyer
    un lien afin de changer votre mot de passe.
  </p>
  <p>
    Si vous avez déjà participé à un évènement sur notre site vous devez également
    passer par ce formulaire pour vous inscrire.
  </p>

  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" value="Réinitialiser le mot de passe"/>
  </form>

</section>

{% endblock %}
