{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>
      S'enregistrer
    </h1>
  </div>
</div>


<div class="container">

  <div class="col-sm col-lg">
    <div class="row">
      <div class="form col-md-6">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
      </div>
    </div>
  </div>   

</div>

{% endblock %}
