{% extends 'base.html' %}

{% block content %}
  {% include "breadcrumb.html" with current="Activités" %}
  <section class="container pt-3">
    <div class="row col-md-12">
      <div class="card-columns">
        {% include "event/activity/cards.html" with activities=activity_list.all %}
      </div>
    </div>
  </section>
{% endblock %}
