{% extends 'base.html' %}

{% block content %}
  {% url "location:list" as location_list_url %}
  {% url "location:detail" place.pk place.slug as location_detail_url %}
  {% include "breadcrumb.html" with current="Suppression" second_parent_url=location_list_url second_parent_text="Lieux" first_parent_url=location_detail_url first_parent_text=place %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        Suppression de '{{ place }}'
      </h1>
    </div>
  </div>
  <section class="container">
    <p>
      <i class="fa fa-exclamation-triangle"></i>
      Vous êtes sur le point de supprimer le lieu <code>'{{ place }}'</code> situé à <code>'{{ place.address }}'</code>. Êtes-vous certain de votre choix ?
    </p>
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-danger" type="submit">
        <i class="fa fa-trash"></i>
        Oui je suis sûr
      </button>
      <a class="btn btn-success" href="{% url 'location:detail' place.pk place.slug %}">
        <i class="fa fa-arrow-left"></i>
        Non, revenir
      </a>
    </form>
  </section>
{% endblock %}
